/* Enter your custom styles here */
.customOSClass {
   font-weight: bold;
}
.sapOPSectionCss > .sapUxAPObjectPageSectionHeader {
    display: none;
}
.sapUxAPBlockContainer {
	padding: 0 !important;
}
.sapMSCCss {
	border: 2px solid #ccc;
}
.sapMSplitContainerMaster {
    width: 15rem !important;
}